<h2>
  <%= @product.formatted_price %>
  <%= @product[:name] %>
</h2>

<%= link_to "Edit", edit_product_path(@product.id) %>

<p><%= @product[:description] %></p>

<%= form_for [@product, @review], :remote => true do |f| %>

  <p>
    <h3> Add a review </h3>
    <%= f.text_area :comment %>
  </p>

  <%= f.submit %>

<% end %>

<h3> Reviews </h3>

<div id="review-list">

  <%= render :partial => "reviews" %>

</div>

